$white: #fff;
$black: #000;

$orange: #ffa21d;
$green: #07d7a7;
$dark-blue: #0b607d;
$blue: #13b0e5;
$red: #ff1d29;
$yellow: #ffc300;
$amber: #ffbf00;

$gray-dark: #222;
$gray: #333333;
$gray-medium: #8b8d9b;
$gray-light: #9b9b9b;
$gray-lighter: #dfdfdf;
$gray-very-light: #f5f5f5;

$orange-darker: #d18518;
$orange-lighter: #ffb246;
$dark-blue-darker: #0b607d;
$dark-blue-lighter: #0b607d;
$green-darker: #07c498;
$green-lighter: #1ddaaf;
$blue-very-dark: #074054;
$blue-darker: #0b607d;
$blue-lighter: #3dbee9;
$blue-very-light: #f4fbfe;
$red-darker: #ff464f;
$red-lighter: #d11822;
$yellow-darker: #e8b200;
$yellow-lighter: #ffcd2e;
$black-lighter: #706e6b;

$color-primary: $orange;
$color-secondary: $gray-medium;
$color-success: $green;
$color-info: $blue;
$color-warning: $yellow;
$color-danger: $red;
$color-light: $gray-very-light;
$color-dark: $gray;

$body-bg-color: $gray-very-light;
$navbar-bg: $gray-very-light;
$navbar-brand-bg: $orange;

$border-color-default: $gray-very-light;
$radius-default: 3px;
$card-headings: $white;
