/*$blue: #0c5595;*/
/*$orange: #f9943b;*/
/*$orange-dark: #fd9037;*/
/*$orange-darker: #ed833e;*/
/*$red: #c81b1b;*/

.btn-secondary {
  --bs-btn-bg: #f9943b;
  --bs-btn-border-color: #f9943b;
  --bs-btn-hover-bg: #ed833e;
  --bs-btn-hover-border-color: #ed833e;
  --bs-btn-focus-shadow-rgb: #ed833e;
  --bs-btn-active-bg: #ed833e;
  --bs-btn-active-border-color: #ed833e;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-bg: #f9943b;
  --bs-btn-disabled-border-color: #f9943b;
}

.btn-outline-secondary {
  --bs-btn-color: #f9943b;
  --bs-btn-border-color: #f9943b;
  --bs-btn-hover-bg: #f9943b;
  --bs-btn-hover-border-color: #f9943b;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-bg: #f9943b;
  --bs-btn-active-border-color: #f9943b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f9943b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f9943b;
  --bs-gradient: none;
}
