// Color Palette
$white: #fff;
$black: #000;

$blue: #0c5595;
$orange: #f9943b;
$red: #c81b1b;

// Gray Scale
$gray-dark: #222;
$gray: #757575;

$theme-colors: (
  "primary": $blue,
  "secondary": $orange,
  "danger": $red,
);

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

@function theme-color($key: "secondary") {
  @return map-get($theme-colors, $key);
}
